
<h4>ABOUT</h4>
    <p>
      Nelson Burton lives in New York City.
    </p>
    <p>
    	His resume is found <%= link_to "here.", 'downloadresume' %>
    </p>
    <%= link_to image_tag('32-linkedin.png', alt: "LinkedIn" ), 'https://www.linkedin.com/in/nelsonburton' %>
    <%= link_to image_tag('32-facebook.png', alt: "Facebook" ), 'https://www.facebook.com/nelson.burton' %>
    <%= link_to image_tag('32-twitter.png', alt: "Twitter" ), 'https://twitter.com/nxtlvlnelsn' %>

