<div>
    <p>
      Below follows some posts I have written about things I have done and topics that interest me. 
    </p>
    <div>

<div class="row">
	<div class="col-md-1">

	</div>
	<div class="col-md-11">
    <%= render 'bitcoinremittances' %>

	</div>
</div>




</div>


