<div>
    <p>
      Below follows some posts I have written about things I have done and topics that interest me. 
    </p>
<div>

<div class="row">
	<div class="col-md-1" "col-xs-1">>

	</div>
	<div class="col-md-11" "col-xs-11">
        <%= render :partial => 'posts/bitcoinremittances' %>
        <div class="page-header"></div>
        <%= render :partial => 'posts/bench' %>
        <div class="page-header"></div>
        <%= render :partial => 'posts/nyccoworking' %>
	</div>

</div>
</div>




</div>


