<h4><%= 'Total daily calorie requirement: ' %>
	<%= totalcals = CalculatorHelper.total_cals(@person.weight, @person.bodyfat).to_int %></h4>
	<% tbl = CalculatorHelper.daily_req_i(totalcals) %>

<table class="table table-striped table-hover">
<% tbl.each do |row_header, row_values| %>
	<tr>

		<% row_values.each do |val| %>
			<%= raw ('<th>' << val << '</th>') if val.is_a?(String)%>
			<%= raw ('<td>' << val.to_i.to_s << '</td>' ) unless val.is_a?(String)%>

		<% end %>

		<br>
	</tr>
<% end %>
</table>
