		<p>Caloric Requirement is calculated using the Katch-McArdle Formula</p>
		<p> Base metabolic rate = 21.6*Lean Body Mass(kg) + 370</p>
		<p> We then add an additional 400 calories, the average daily calories expended for a sedentary lifestyle.</p>
		<br/>
		<p> If you do not know your body fat percentage, you can estimate it using this chart. </p>
			<br/>

			<%=image_tag 'bodyfatchart.jpg', class: 'img-responsive' %>