<h1>Keto Macros Calculator</h1>
<h4>Ketosis dietary needs macronutrients calculator</h4>
<p>Rails application by <%=link_to("Nelson Burton","http://nelsonburton.com")%></p>

<div class="row">
	<div class="col-md-6">
		<%= render 'form' %>
		</div>
	<div class="col-md-6">
		<%= render 'moreinfo' %>
</div>
