<em>January 5, 2015</em>
<h3>Coworking Spaces in NYC</h3>
 
<h4>Background</h4>
<p>I put together a map of all the coworking spaces I could find in NYC. I did this for two reasons, to see where I wanted to rent from, and to see if there were any underserved markets where I could potentially open a space.</p>
</br></br>
<iframe src="https://www.google.com/maps/d/embed?mid=zmdWUCzN2nS8.kElcWpjR4dAA" width="640" height="480"></iframe>
</br></br>

<p>My impression is downtown Brooklyn needs something! And williamsburg could probably use more spaces, especially considering how many creative professionals live in North Brooklyn. </p>
